body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: #F5E8DA;
}

header {
    padding: 40px;
    text-align: center;
    background: #2B192E;
    color: #F5E8DA;
}

img {
    width: 9%;
    height: 14%;
    position: absolute;
    top: -2px;
    left: 35px;
}

footer {
    width: 100%;
    padding: 20px;
    text-align: end;
    background: #2B192E;
    color: #F5E8DA;
    margin-top: auto;
}

h2 {
    text-align: center;
}

table {
    background-color: #F5E8DA;
}

.form-1 {
    border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 10px;
  flex: 0 0 300px;
  margin: 20px;
  background-color: #F5E8DA;
}

.form-2 {
    border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0px 170px 0px;
  background-color: #2B192E;
  margin-bottom: 170px;
  position: flex;
}

.purple {
    background-color: #2B192E;
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 1px;
    flex-direction: column;
    margin-bottom: 100px;
}

.margin-left {
    margin-left: 15px;
}

.margin-right {
    margin-right: 15px;
}

.margin-top {
    margin-top: 70px;
}

.beige {
    color: #F5E8DA
}

@media screen and (max-width: 840px) {
    footer {
      font-size: small;
    }
} 

@media screen and (min-width: 380px) {
    img { 
        width: 120px;
        top: -7px;
        left: 15px;
    }
} 